cabecalho{
    background-color: rgb(1, 1, 17);
    color:yellow;
    }
    .principal{
    background-color: yellow;
    color: white;
    }
    .rodape{
    background-color: black;
<<<<<<< HEAD
    color: yellow;
    text-align: center;
    }
    #finlandia{
    width: 600px;
    }
=======
    color: white;
    text-align: crenter;
}
#comandos{
    width: 300px;
}
>>>>>>> ee0c885de57f8175d6ecaaceb46082f31e470e6c