cabecalho{
    background-color: rgb(15, 17, 1);
    color:yellow;
    }
    .principal{
    background-color: yellow;
    color: white;
    }
    .rodape{
    background-color: black;
    color: white;
    text-align: crenter;
}
#comandos{
    width: 300px;
}
